body{
    /* background-color: #1A4341; */
    
}

.container{
    width:400px ;
    height: 300px;
    background:  #1A4341;
    border-width :2px;
    border-style: dotted;
    border-color: #fff;     
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    width: 50px;
    margin-right: 5px;   
    justify-content: space-between;
    height: 100px;
    /* background-color: blanchedalmond; */
}


.circle{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    
    display: inline-block;
}
.semicircle{
    height: 45px;
    width: 50px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

}

.flip{
    transform: scale(-1, -1);
}
.yellow{
    background-color:#F3AC3C;
}

.green{
background-color: #998235;
}